body{
background-image: url(./image/gradientimage/fruit-basket-agency-UdeDyN4K7S0-unsplash.jpg);
background-repeat: no-repeat;
background-size: cover;
}
.div2{
    border: 1px solid black;
    border: none;
    height: 51px;
    width: auto;
}
h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 18px;
    padding:1px 18px;
    margin: 0px;
    letter-spacing: 8px;
}
#li1{
    list-style: none;
    display: inline-block;
    padding: 0px 0px;
    margin: 0px 0px;
    line-height: 0px;
}
.span2{
    padding: 0px 241px;
    margin: 0px 0px; 
    word-spacing: 60px; 
}
#span3{
     word-spacing: 0px;
}
#span4{
     word-spacing: 0px;
}
#span5{
    float: right;
    list-style: none;
    margin: 6px 17px;
}
#a1{
    text-decoration: none;
    color: black;
}
.div1{
    border: 1px solid ;
    border: none;
    border-radius: 46px;
    height: 325px;
    width: 415px;
    padding: 77px 77px;
    margin-top: 150px;
    margin-left: 493px;
    background-image:url(./image/gradientimage/magicpattern-oPH_5xuMgQw-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
input[type="text"],input[type="password"]{
    padding: 11px 60px;
    margin: 14px 3px;
    height: 12px;
    width: 306px;
}
#span1{
    float: right;
}
#text1, #password1{
    background-image: url(./image/gradientimage/lock.png);
    background-repeat: no-repeat;
    background-position: 0px 3px;
    background-size: 30px 31px;
}
input[type="submit"]{
    padding: 15px 0px;
    margin: 34px 61px;
    height: 0px;
    width: 144px;
    text-align: center;
    border-radius: 11px;
    line-height: 3px;
}
input[type="text"]:hover,input[type="password"]:hover{
    background-color: lavenderblush;
}
#a1:hover{
    background-color: aliceblue;
    border-radius: 25px;
    padding: 10px;
}
