 body {
      font-family: 'Poppins', sans-serif;
    }

    /* Navbar */
    .navbar {
      background-color: black;
    }

    .navbar-brand, .navbar-nav .nav-link {
      color: white;
    }

    .navbar-nav .nav-link:hover {
      color: #abd4ca;
    }

    /* Home Section */
    #home {
      background: url('./image/background.jpg') no-repeat center center/cover;
      min-height: 100vh;
      color: white;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: 1;
    }

    .home-content {
      z-index: 2;
      position: relative;
      text-align: center;
    }

    /* About Section */
    #about {
      background-color: #f8f9fa;
    }

    /* Skills Section */
    .skills {
      background-color: #17a2b8;
    }

    .skills .card-body {
      background-color: #ffffff;
    }

    /* Projects Section */
    #projects .card {
      border: none;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .projects .card-img-top {
      height: 200px;
      object-fit: cover;
    }

    /* Contact Section */
    #contact {
      background-color: #17a2b8;
      color: white;
    }

    .contact .list-group-item {
      background-color: transparent;
      border: none;
      color: white;
    }

    .contact .btn-primary {
      background-color: #0056b3;
      border-color: #0056b3;
    }

    .contact .btn-primary:hover {
      background-color: #004085;
      border-color: #004085;
    }
